<!-- <div *ngFor="let comment of listComments;">
  {{ comment.name }}
</div> -->
<div>
  <button (click)="getListComments()">Clique</button>
</div>

<!-- <p-table [value]="listComments">
  <ng-template pTemplate="header">
      <tr>
          <th>id</th>
          <th>name</th>
          <th>email</th>
          <th>body</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-comment>
      <tr>
          <td>{{comment.id}}</td>
          <td>{{comment.name}}</td>
          <td>{{comment.email}}</td>
          <td>{{comment.body}}</td>
      </tr>
  </ng-template>
</p-table> -->

<h3>Checkbox Selection</h3>
<p-table [columns]="cols" [value]="listComments" [(selection)]="comments" dataKey="id">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <ul>
            <li *ngFor="let cmmt of comments" style="text-align: left">
                {{commit.id + ' - ' + commit.name + ' - ' + commit.email + ' - ' + commit.body}}
            </li>
        </ul>
    </ng-template>
</p-table>